<%= form_with model: comment, url: path, data: { turbo: false } do |form| %>
  <% if post.errors.any? %>
    <% post.errors.each do |error| %>
      <p class="alert alert-warning"><%= error.full_message %></p>
    <% end %>
  <% end %>

  <form>
    <div class="container col-8">
      <div class="card justify-content-lg-center">
        <div class="card-body">
          <h2 class="card-header"><span class="text-muted">#<%= @post.id %>&nbsp;</span><%= @post.title.upcase %></h2>
          <p class="card-title"><%= @post.content %></p>

        <div class="d-block">
          <div class="form-group py-2">
            <% form.label :content %>
            <%= form.text_area :content, placeholder: "write a comment...", class: "form-control" %>
          </div>

        </div>
        <%= form.submit "Confirm", class: "btn btn-primary" %>
                <%= link_to 'Cancel', posts_path(@post, comment), class: "btn btn-secondary" %>
  <% end %>
        </div>
      </div>
    </div>
  </form>