<div class="container col-8">
  <div class="card justify-content-lg-center">
    <div class="card-body">
      <h2 class="card-header"><span class="text-muted">#<%= @post.id %>&nbsp;</span><%= @post.title.upcase %></h2>
      <p class="card-title"><%= @post.content %></p>
    </div>
  </div>
</div>


<% @comments.each do |comment| %>
  <div class="container col-8">
    <div class="card justify-content-lg-center my-4">
      <div class="card-body">
        <p class="card-title"><%= comment.content %></p>
        <p class="card-text"><%= comment.created_at %></p>
          <%= link_to "edit", edit_post_path(@post), class: "btn btn-outline-primary btn-sm" %>
          <%= button_to 'delete', post_comment_path(@post, comment), method: :delete,  class: "btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  </div>
<% end %>