<%= form_with model: post, data: { controller: :location } do |form| %>
  <% if post.errors.any? %>
    <% post.errors.each do |error| %>
      <p class="alert alert-warning"><%= error.full_message %></p>
    <% end %>
  <% end %>
<form>
  <div class="container-fluid border col-6 text-center ">
    <h1>CREATE A POST</h1>
      <div class="d-block">

        <div class="mb-3">
          <%= form.file_field :image, class: "form-control", id: "formFile" %>
        </div>

        <div class="form-group py-2">
          <% form.label :title %>
          <%= form.text_field :title, placeholder: "Tell us what happened...", class: "form-control" %>
        </div>

        <div class="form-group py-2">
          <% form.label :content %>
          <%= form.text_area :content, placeholder: "Describe what happened...", class: "form-control" %>
        </div>

        <div class="form-group py-2">
          <% form.label :location %>
          <%= form.text_field :location, placeholder: "Location", class: "form-control" %>
        </div>

        <div class="form-check py-2">
          <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
        </div>

        <div class="form-check py-2">
          <%= form.label :address_region_id %>
          <%= form.collection_select :address_region_id,
                                     Address::Region.all, :id, :name,
                                     { prompt: 'pls select region' },
                                     data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' },
                                     class: "form-control text-muted" %>
        </div>

        <div class="form-check py-2">
          <%= form.label :address_province_id %>
          <%= form.collection_select :address_province_id, [], nil, nil, { prompt: 'pls select province' }, data: { location_target: 'selectProvinceId' }, class: "form-control text-muted"   %>
        </div>

      </div>
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to "Clear",  new_post_path, class: "btn btn-secondary" %>
      </div>

<% end %>
</form>