<p class="notice"></p>
<table class="table table-light">
  <%= link_to 'export', posts_path(format: :csv), class: "btn btn-outline-dark btn-sm" %>
  <thead>
  <tr>
    <th scope="col">TITLE</th>
    <th scope="col">POST ID</th>
    <th scope="col">UNIQUE ID</th>
    <th scope="col">DESCRIPTION</th>
    <th scope="col">LOCATION</th>
    <th scope="col">CATEGORY</th>
    <th scope="col"></th>
    <th scope="col">USERS</th>
    <th scope="col">COPY</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <% if @hot_posts.include?(post)%>
    <tr class="table-danger">
    <% else %>
    <tr>
    <% end %>
    <th scope="row"><%= link_to post.title.upcase, post_path(post), class: "text-decoration-none" %></th>
    <td><%= sprintf '%04d', post.id %></td>
    <td><%= post.unique_string %></td>
    <td>
      <% if post.content.length >= 100 %>
        <%=
        truncate( post.content,
        length: 100,
        separator: ' ',
        omission: '... ') {
          link_to 'See More', post_path(post), class: "btn btn-outline-primary btn-sm"
        }
        %>
        <% else %>
        <%= post.content %>
      <% end %>
    </td>
    <td><%= post.location %></td>
    <td class="col-sm-1"><%= post.categories.pluck(:name).join("\n")%></td>
<!--    <td class="text-muted"><%#= Geocoder.search(post.ip_address).first.address%></td>-->
    <td></td>

    <td data-controller="clipboard">
      <span data-clipboard-target="email"><%= post.user.email %></span>
      <button data-action="click->clipboard#copy">copy</button>
    </td>

<% end %>
  </tr>
  </tbody>
</table>
<%= paginate @posts %>
<%= link_to "Create a new post", new_post_path(@post), class: "btn btn-primary" %>
